h1 {
    text-align: center;
}

input,
label{
    display: block;
    
}

input{
    width: 100%;
    
}

label{
    color: green;
}

.submit{
    margin: 15px auto 0 auto;
    width: 40%;
    background-color: greenyellow;
    border-radius: 5px;
}

form{
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid black;
    padding: 15px;
}
.g-recaptcha
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

/*
margin top right bottom left
margin 25px 50px 75px 100px
*/